<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('index') }}">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login" onclick="checkIt()">
        
    </form>
</body>
</html>